[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-pptx = "*"
python-docx = "*"

[dev-packages]
mypy = "*"
"flake8" = "*"
"autopep8" = "*"

[requires]
python_version = "3.6"
